<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Record</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
    <div th:replace="header"></div>
    <h1>Admin Record</h1>
    <table class="table">
        <thead>
            <th scope="col">Admin ID</th>
            <th scope="col">Admin Name</th>
            <th scope="col">Admin Email</th>
            <th scope="col">Phone Number</th>
        </thead>
        <tbody>
            <tr th:each="admin : ${admins}">
                <td th:text="${admin.adminID}">Admin ID</td>
                <td th:text="${admin.adminFirstName} + ' ' + ${admin.adminLastName}">Admin Name</td>
                <td th:text="${admin.adminEmail}">Email</td>
                <td th:text="${admin.phoneNumber}">Phone Number</td>
            </tr>
        </tbody>
    </table>
</body>
</html>