<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
    <div th:replace="header" ></div>
    <div class="container">
        <div class="text-center">
            <div class="card card-center" style="width: fit-content;">
                <div class="container">
                    <div class="card-body">
                        <h2 class="card-title" th:text="${client}">Client Name</h2>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Phone Number</li>
                    <li class="list-group-item">Email</li>
                    <li class="list-group-item">Edit Client Details</li>
                </ul>
            </div>
        </div>
        <table class="table">
            <thead>
                <th scope="col">Project ID</th>
                <th scope="col">Active Status</th>
                <th scope="col">Marked for Iteration</th>
                <th scope="col">Start Date</th>
                <th scope="col">Deadline</th>
                <th scope="col">Completion Date</th>
            </thead>
            <tbody>
                <tr th:each="project : ${projects}">
                    <td th:text="${project.projectID}">Project ID</td>
                    <td th:text="${project.inProgressIndicator}">Active Status</td>
                    <th th:text="${project.iterationIndicator}">Marked for Iteration</th>
                    <td th:text="${project.startDate}">Start Date</td>
                    <th th:text="${project.deadline}">Deadline</th>
                    <th th:text="${project.completionDate}">Completion Date</th>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>