<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <title>Dev Details</title>
    </head>
    <body>
        <div th:replace="header"></div>
        <h2 th:text="${dev.devFirstName} + ' ' + ${dev.devLastName}">Dev Name</h2>
        <table class="table">
            <thead>
                <th scope="col">Projects Assigned</th>
                <th scope="col"></th>
            </thead>
            <tbody>
                <tr th:each="project : ${projects}">
                    <td th:text="${project.projectID}">Project ID</td>
                    <td><a class="btn btn-primary" href="#" th:href="@{/Projects/projectID/{id}(id=${project.projectID})}">Project Details</a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>