<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Testers Record</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
    <body>
        <div th:replace="header"></div>
        <h1>Testers</h1>
        <table class="table">
            <thead>
                <th scope="col">Tester ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </thead>
            <tbody>
                <tr th:each="tester : ${testers}">
                    <td th:text="${tester.testerID}">Tester ID</td>
                    <td th:text="${tester.testerFirstName}">First Name</td>
                    <td th:text="${tester.testerLastName}">Last Name</td>
                    <td th:text="${tester.testerEmail}">Email</td>
                    <td><a class="btn btn-primary" th:href="@{/Testers/{id}(id=${tester.testerID})}">Details</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>